$primary: #aaff00;
$secondary: #007dfe;
$orange--color: #ffd43c;
$text: #373f49;
$textSecondary: #535962;
$primary-border: #ccff66;
$secondary-border: #007dfe;
// $text: #1c2f35;
$text: #373f49;
$whiteColor: #fff;
$blackColor: #191919;
$borderActive: #007dfe;
$hoverLinkColor: rgb(85, 76, 76);
$project--background: #ebf9cf;
$danger: #f4443e;
